<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <script>
            L_PREFER_CANVAS = true;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_aeff1a375f3a52d343aa5a37827655e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
</head>
<body>


            <div class="folium-map" id="map_aeff1a375f3a52d343aa5a37827655e4" ></div>

</body>
<script>
    var apiKey = "{{ api_key }}";
    var baseUrl = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port
    var map_aeff1a375f3a52d343aa5a37827655e4 = L.map(
        "map_aeff1a375f3a52d343aa5a37827655e4",
        {
            center: [0.0, 0.0],
            crs: L.CRS.EPSG3857,
            zoom: 4,
            zoomControl: true,
            preferCanvas: false,
        }
    );

    var tile_layer_3026bd1b4e704f4167368b0acabe6f6f = L.tileLayer(
        "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
    );

    tile_layer_3026bd1b4e704f4167368b0acabe6f6f.addTo(map_aeff1a375f3a52d343aa5a37827655e4);

    var vector_grid_protobuf_83ecdcbe07d1781f79109636bb1f6ece = L.vectorGrid.protobuf(
        'https://tiles.mapillary.com/maps/vtp/mly1_public/2/{z}/{x}/{y}?access_token={token}',
        {"token": apiKey, "vectorTileLayerStyles": {"overview": {"color": "#e87147", "fill": true, "opacity": 0.6, "radius": 5}}}
    );

    vector_grid_protobuf_83ecdcbe07d1781f79109636bb1f6ece.addTo(map_aeff1a375f3a52d343aa5a37827655e4);

    var layer_control_6283e829b86883cae8e74466e216560a_layers = {
        base_layers : {
            "openstreetmap" : tile_layer_3026bd1b4e704f4167368b0acabe6f6f,
        },
        overlays :  {
            "mapillary" : vector_grid_protobuf_83ecdcbe07d1781f79109636bb1f6ece,
        },
    };
    let layer_control_6283e829b86883cae8e74466e216560a = L.control.layers(
        layer_control_6283e829b86883cae8e74466e216560a_layers.base_layers,
        layer_control_6283e829b86883cae8e74466e216560a_layers.overlays,
        {"autoZIndex": true, "collapsed": true, "position": "topright"}
    ).addTo(map_aeff1a375f3a52d343aa5a37827655e4);

    map_aeff1a375f3a52d343aa5a37827655e4.on('moveend', function(e) {
        var center = map_aeff1a375f3a52d343aa5a37827655e4.getCenter();
        var lat = center.lat;
        var lng = center.lng;

        var data = {
            "lat": lat,
            "lng": lng
        };

        $.ajax({
            url: baseUrl + '/coordinates/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                console.log('Coordinates sent successfully:', response);
            },
            error: function(error) {
                console.error('Error sending coordinates:', error);
            }
        });
    });

    map_aeff1a375f3a52d343aa5a37827655e4.on('moveend', function(e) {
        fetchAndAddPoints();
    });

            function fetchAndAddPoints() {
            $.ajax({
                url: '/points/', // Change the endpoint URL accordingly
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var points = data.points;
                    points.forEach(function(point) {
                        var marker = L.marker([point.latitude, point.longitude]).addTo(map_aeff1a375f3a52d343aa5a37827655e4);
                        marker.on('click', function(e) {
        // Generate the iframe HTML with the Mapillary embed URL
var iframeHtml = '<iframe src="https://www.mapillary.com/embed?image_key=' + point.id + '&style=photo" height="480" width="640"></iframe>';

        // Create a popup and bind it to the marker
        marker.bindPopup(iframeHtml).openPopup();
    });
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching points:', error);
                }
            });
        }

        // Call the function initially
        fetchAndAddPoints();
</script>
</html>

